<!-- POP UP CREATE FOLDER -->
<div class="modal modal-backdrop" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStylePopupCreateFolder}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create folder</h4>
      </div>
      <form [formGroup]="formCreateFolder" (ngSubmit)="closePopupCreateFolderSubmit()">
        <div class="modal-body">
            <div class="form-group">
              <input formControlName="folderName" class="form-control" type="text" placeholder="Folder name">
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!formCreateFolder.valid">Create</button>
          <button type="button" class="btn btn-danger" (click)="closePopupCreateFolder()"> Close </button>
        </div>
    </form>
    </div>
  </div>
</div>

<!-- POP UP RENAME/DELETE FOLDER -->
<div class="modal modal-backdrop" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStylePopupDeleteFolder}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete folder</h4>
      </div>
      <div class="modal-body">
        <p>Do yo really want to delete the folder '{{folderDeleteRename.nom}}'?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="closePopupDeleteFolderSubmit()"> Delete </button>
      <button type="button" class="btn btn-danger" (click)="closePopupDeleteRenameFolder()"> Close </button>
    </div>
    </div>

    <div class="modal-content mt-2">
      <div class="modal-header">
        <h4 class="modal-title">Rename folder</h4>
      </div>
      <form [formGroup]="formRenameFolder" (ngSubmit)="closePopupRenameFolderSubmit()">
        <div class="modal-body">
            <div class="form-group">
              <input formControlName="folderName" class="form-control" type="text" placeholder="Folder name">
            </div>
            <div class="form-group mt-2">
              <input formControlName="newFolderName" class="form-control" type="text" placeholder="New folder name">
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!formRenameFolder.valid">Rename</button>
          <button type="button" class="btn btn-danger" (click)="closePopupDeleteRenameFolder()"> Close </button>
        </div>
    </form>
    </div>

  </div>
</div>

<!-- POP UP RENAME/DELETE FILE -->
<div class="modal modal-backdrop" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStylePopupDeleteFile}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete file</h4>
      </div>
      <div class="modal-body">
        <p>Do yo really want to delete the file '{{fileSelected.nom}}'?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="closePopupDeleteFileSubmit()"> Delete </button>
      <button type="button" class="btn btn-danger" (click)="closePopupDeleteRenameFile()"> Close </button>
    </div>
    </div>

    <div class="modal-content mt-2">
      <div class="modal-header">
        <h4 class="modal-title">Rename file</h4>
      </div>
      <form [formGroup]="formRenameFile" (ngSubmit)="closePopupRenameFileSubmit()">
        <div class="modal-body">
            <div class="form-group">
              <input formControlName="fileName" class="form-control" type="text" placeholder="File name">
            </div>
            <div class="form-group mt-2">
              <input formControlName="newFileName" class="form-control" type="text" placeholder="New file name">
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!formRenameFile.valid">Rename</button>
          <button type="button" class="btn btn-danger" (click)="closePopupDeleteRenameFile()"> Close </button>
        </div>
    </form>
    </div>

    <div class="modal-content mt-2">
      <div class="modal-header">
        <h4 class="modal-title">Share file</h4>
      </div>
      <form [formGroup]="formShareFile" (ngSubmit)="closePopupShareFileSubmit()">
        <div class="modal-body">
          <div>
            <p class="ms-1">Search user by username:</p>
            <div class="form-group">
              <input #inputSearchUser class="form-control" type="text" placeholder="Search User" id="searchUserQuery" (input)="onSearchUserQueryInput($event)" autocomplete="off">
            </div>
            <ul class="list-group" (click)="usernameClicked($event)">
              <li class="list-group-item" *ngFor="let item of usersSearchBar | slice:0:5; let i=index">{{item.username}}</li>
            </ul>
          </div>
          <div class="form-group mt-2">
            <input formControlName="usernameToShare" class="form-control" type="text" placeholder="">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!formShareFile.controls['usernameToShare'].value">Share</button>
          <button type="button" class="btn btn-danger" (click)="closePopupDeleteRenameFile()"> Close </button>
        </div>
    </form>
    </div>

  </div>
</div>

<!-- POP UP VIEW USERS WITH WHOM I SHARED THE FILE AND STOP SHARING-->
<div class="modal modal-backdrop" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStylePopupViewUsersWithWhomISharedTheFile}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">'{{fileSelected.nom}}' is shared to:</h4>
      </div>
      <form [formGroup]="formShareFile" (ngSubmit)="closePopupViewUsersWithWhomISharedTheFileSubmit()">
        <div class="modal-body">
          <ul class="list-group scroll-item" (click)="usernameClicked($event)">
            <li class="list-group-item" *ngFor="let user of usersWithWhomISharedTheFile">{{user.username}}</li>
          </ul>
          <hr>
          <p class="ms-1">Do you want to stop sharing the file with this user?</p>
          <div class="form-group mt-2">
            <input formControlName="usernameToShare" class="form-control" type="text" placeholder="">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!formShareFile.controls['usernameToShare'].value">Stop Sharing</button>
          <button type="button" class="btn btn-danger" (click)="closePopupViewUsersWithWhomISharedTheFile()"> Close </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- POP UP SHOW FILE OWNER-->
<div class="modal modal-backdrop" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStylePopupShowFileOwner}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Owner</h4>
      </div>
      <div class="modal-body">
        <p class="ms-1">The owner of '{{fileSelected.nom}}' is: <b>{{fileOwner.username}}</b> </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closePopupShowFileOwner()"> Close </button>
      </div>
    </div>
  </div>
</div>

<div>
  <header>
    <div class="row">

      <div class="col-4">
        <div>
          <img src="/assets/images/logo.png" alt="logo" width="200" height="50">
        </div>
      </div>

      <div class="col-4 ">
        
          <div class="row">
            <div class="col">
              <nav class="navbar justify-content-center">
                <div class="form-group">
                  <input #inputSearchFile class="form-control me-2" type="text" placeholder="Search File" id="searchQuery" (input)="onSearchQueryInput($event)" autocomplete="off">
                </div>
              </nav>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <nav class="navbar justify-content-center list">
                <ul class="list-group width">
                  <li class="list-group-item" *ngFor="let file of filesSearchBar | slice:0:5; let i=index" (dblclick)="fileSearchClicked(file)">{{file.nom}}</li>
                </ul>
              </nav>
            </div>
          </div>
      </div>

      <div class="col-4">
        <div class="row">
          <div class="col-9">
            <div>
              <p class="mt-3 float-end welcome">Welcome, {{user.username}}</p>
            </div>
          </div>
          <div class="col-3">
            <div >
              <button class="btn btn-danger mt-2 float-end" (click)="logOut()">Log Out</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>
  <hr>
  <div class="row">
    <div class="col-2">
      <div>
        <button class="btn btn-primary mt-3" (click)="openPopupCreateFolder()">Create Folder</button>
      </div>
      <div>
        <div class="mt-3">
          <input #myInput class="form-control uploadInput" type="file" (change)="onChange($event)">
          <button (click)="uploadFile()" class="btn btn-primary mt-2 uploadBtn"> Upload </button>
        </div>
      </div>
    </div>

    <div class="col-10">
      <div class="mt-3">
        <h3>Folders:</h3>
        <h5>Current path: {{showCurrentPath()}}</h5>
        <div class="row">
          <div class="col-3" *ngFor="let folder of currentSubFolders" (contextmenu)="rigthClickCardFolder($event, folder);" (dblclick)="doubleClickFolder(folder)">
            <div id="card" class="card mt-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-3">
                    <img class="center" src="/assets/images/carpeta.png" alt="carpeta" height="45px" width="65px">
                  </div>
                  <div class="col-9 mt-2">
                    <h5 class="card-title text-center">{{folder.nom}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-3">
        <h3>Files:</h3>
        <div class="row">
          <div class="col-3" *ngFor="let file of currentFiles" (contextmenu)="rigthClickCardFile($event, file);" (dblclick)="doubleClickFile(file)">
            <div id="card" class="card mt-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-3">
                    <img class="center" src="/assets/images/fitxer.png" alt="fitxer" height="45px" width="50px">
                  </div>
                  <div class="col-9 mt-2">
                    <h5 class="card-title text-center">{{file.nom}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-3" *ngIf="mainPage()">
        <h3>Files shared by other users:</h3>
        <div class="row">
          <div class="col-3" *ngFor="let file of filesSharedByOtherUsers" (contextmenu)="rigthClickCardFileSharedBy($event, file);" (dblclick)="doubleClickFile(file)">
            <div id="card" class="card mt-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-3">
                    <img class="center" src="/assets/images/fitxer.png" alt="fitxer" height="45px" width="50px">
                  </div>
                  <div class="col-9 mt-2">
                    <h5 class="card-title text-center">{{file.nom}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-3" *ngIf="mainPage()">
        <h3>Files shared to other users:</h3>
        <div class="row">
          <div class="col-3" *ngFor="let file of filesSharedToOtherUsers" (contextmenu)="rigthClickCardFileSharedTo($event, file);" (dblclick)="doubleClickFile(file)">
            <div id="card" class="card mt-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-3">
                    <img class="center" src="/assets/images/fitxer.png" alt="fitxer" height="45px" width="50px">
                  </div>
                  <div class="col-9 mt-2">
                    <h5 class="card-title text-center">{{file.nom}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


