.blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.modal-backdrop
{
    background-color: rgba(0,0,0,0.7);
}

#card :hover{
    /*background-color:azure;*/
    cursor: pointer;
}

.center{
    position:relative;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.welcome{
    font-size: large;
    font-weight: 400;
}

li{
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #0C6EFD;
    color: white;
}
.list{
    z-index: 10;
    position: fixed;
    width: 32%;
}

.width{
    width: 50%;
}