<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div>
        <img class="rounded mx-auto d-block" src="/assets/images/logo.png" alt="logo" width="250" height="65">
      </div>
      <div class="card">
        <h2 class="card-title text-center">Login</h2>
          <div class="card-body py-md-4">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

              <div class="form-group">
                  <input formControlName="username" type="text" class="form-control" id="username" placeholder="Username">
                  <br>
              </div>
                                  
              <div class="form-group">
                <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
                <div *ngIf="showInvalidCredentialsMessage()">
                  <span class="text-danger">Invalid credentials</span>
                </div>
                <br>
              </div>

              <div>
                <button class="btn btn-primary" type="submit">Login</button>
              </div>
          </form>
        </div>  
        <div class="float-end">
          <button class="btn btn-secondary float-end m-3" (click)="goToPage('register')">Register</button>
        </div>
      </div>
    </div>
  </div>
</div>