<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card">
        <h2 class="card-title text-center">Register</h2>
          <div class="card-body py-md-4">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

              <div class="form-group">
                  <input formControlName="name" type="text" class="form-control" id="name" placeholder="Name">
                  <br>
              </div>
                                  
              <div class="form-group">
                <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email">
                <br>
              </div>

              <div class="form-group">
                <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
                <br>
              </div>

              <div class="form-group">
                <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
                <br>
              </div>

              <div class="">
                <button class="btn btn-primary" type="submit">Create Account</button>
              </div>
          </form>
        </div>
        <div class="float-end">
          <button class="btn btn-secondary float-end m-3" (click)="goToPage('login')">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
